@{
    ViewData["Title"] = "Details";
}

<section class="show-problem-page">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#">Problems</a></li>
            <li role="presentation"><a href="#">Submit</a></li>
            <li role="presentation"><a href="#">My Submision</a></li>
            <li role="presentation"><a href="#">Status</a></li>
            <li role="presentation"><a href="#">Custom Test</a></li>
        </ul>
        <div class="all-data-problem">
            <div class="row">
                <div class="col-md-3 problem-info">
                    <section class="panel panel-info text-center">
                        <div class="panel-heading">
                            <a href="" target="_blank">
                                codeforces - 1514E <!-- source - problemID -->
                            </a>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"> 
                                <span>Time Limit:</span> <span data-refere="TimeLimit"></span>
                            </li>
                            <li class="list-group-item">
                                <span>Memory Limit:</span> <span data-refere="MemoryLimit"></span>
                            </li>
                            <li class="list-group-item"> 
                                <span>Input File:</span> <span data-refere="InputFile"></span>
                            </li>
                            <li class="list-group-item">
                                <span>Output File:</span> <span data-refere="OutputFile"></span>
                            </li>
                            <li class="list-group-item" data-refere="Tags">
                                <span>Tags:</span> combinatorics, dp, fft, math, data datastructure
                            </li>
                            <li class="list-group-item" data-refere="Rate">
                                <span>Rate:</span> 2700
                            </li>
                        </ul>
                        <div class="panel-footer">
                            <i class="fas fa-heart" data-favorite="IconFav"></i>
                        </div>
                    </section>
                    <section class="panel panel-info text-center statistics">
                        <div class="panel-heading">
                            Statistics
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"> <!-- Number of users Solved -->
                                <i class="fas fa-users"></i>
                                1000
                            </li>
                            <li class="list-group-item"> <!-- All Number of Submisin -->
                                <i class="fas fa-paper-plane"></i>
                                5000
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-9">
                    <div id="CodeforcesProblemContent">
                        <div class="ttypography">
                            <!-- HTML Problem -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
