@{
    ViewData["Title"] = "Interview Page";
}
<center>
    @{
        for (int i = 0; i < 5; i++)
        {
            <div class="alert-success">
                <h1>Ya Welcome Ya Welcome You Are In @ViewData["Title"]</h1>
            </div>
        }
    }
</center>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}