@{
    ViewData["Title"] = "About Page";
}
<div class ="card-text" style="text-align: left;" xmlns="http://www.w3.org/1999/html">
    <h1>AC-Judge</h1>
    <p> • AC Judge is an online platform that accurately simulates a real judge like <a href="https://codeforces.com">codeforce</a> | <a href="https://atcoder.jp/home">atcoder</a> | <a href="https://leetcode.com">leetcode</a></p>
    <p>• By accessing problems from various online judges, AC Judge mimics the submission process of a typical online judge.</p>
    <p>• AC Judge monitors your problem-solving performance and provides comprehensive statistics across all other online judges you have used.</p>
    <h2>Technologies used</h2> 
    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-6.0"> -ASP.NET CORE </a></p>
    <p><a href="https://learn.microsoft.com/en-us/ef/"> -Entity FrameWork Core</a></p>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}