@{
    if (ViewContext.RouteData.Values.ContainsKey("Controller"))
    {
        <footer class="border-top">
            <div class="copyright text-center">
                copyright &copy; 2021 | <span>AC</span> <span>Judge</span>
            </div>
        </footer>
    }
}