@using Microsoft.AspNetCore.Identity
@using GraduationProject.Areas.Identity.Data


@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="navbar-form navbar-right text-center nav-sign-out" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
        <a class="btn btn-info" asp-controller="User" asp-action="MyProfile"  title="Manage">
            <i class="fas fa-user-circle"></i>@UserManager.GetUserName(User)
        </a>
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-sign-out-alt"></i>Sign Out
        </button>
    </form>
}
else
{
    <div class="navbar-form navbar-right text-center nav-sign-in-up">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success">
            <i class="fas fa-user"></i>Sign In
        </a>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">
            <i class="fas fa-user-plus"></i>Sign Up
        </a>
    </div>
}

