@{
    ViewData["Title"] = "Group Page";
}

<section class="group-page">
    <div class="container">
        <ul class="nav nav-tabs text-capitalize">
            <li role="presentation" class="active"><a href="#">All Groups</a></li>
            <li role="presentation"><a href="#">My Groups</a></li>
            <li role="presentation"><a href="#">Invitations</a></li>
            <li role="presentation" class="creat-group">
                <a href="#"><i class="fas fa-plus"></i> Creat Group</a>
            </li>
        </ul>
        <div class="row groups">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                      <h3 class="panel-title"><a href="#">Group title</a></h3>
                      <i class="fas fa-heart" data-favorite="IconFav"></i>
                    </div>
                    <div class="panel-body">
                      Test Group To Show All Items In ICPC Menofia Community Training Juniors phase Two and Test Test
                    </div>
                    <div class="panel-footer text-center">
                        <div class="col-xs-4 footer-cell"><!-- Number Of User In Group --> 
                            <i class="fas fa-users"></i>
                            1000
                        </div>
                        <div class="col-xs-3 text-info footer-cell">
                            Owner <!-- If User Owner This Contest Put word Owner -->
                        </div>
                        <ul class="col-xs-5 breadcrumb footer-cell">
                            <li>20</li><!-- scheduled contest -->
                            <li>30</li><!-- Running contest -->
                            <li>90</li><!-- End contest -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                      <h3 class="panel-title"><a href="#">Group title</a></h3>
                      <i class="fas fa-heart" data-favorite="IconFav"></i>
                    </div>
                    <div class="panel-body">
                      Test Group To Show All Items In ICPC Menofia Community Training Juniors phase Two and Test Test
                    </div>
                    <div class="panel-footer text-center">
                        <div class="col-xs-4 footer-cell"><!-- Number Of User In Group --> 
                            <i class="fas fa-users"></i>
                            1000
                        </div>
                        <div class="col-xs-3 text-info footer-cell">
                            Owner <!-- If User Owner This Contest Put word Owner -->
                        </div>
                        <ul class="col-xs-5 breadcrumb footer-cell">
                            <li>20</li><!-- scheduled contest -->
                            <li>30</li><!-- Running contest -->
                            <li>90</li><!-- End contest -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                      <h3 class="panel-title"><a href="#">Group title</a></h3>
                      <i class="fas fa-heart" data-favorite="IconFav"></i>
                    </div>
                    <div class="panel-body">
                      Test Group To Show All Items In ICPC Menofia Community Training Juniors phase Two and Test Test
                    </div>
                    <div class="panel-footer text-center">
                        <div class="col-xs-4 footer-cell"><!-- Number Of User In Group --> 
                            <i class="fas fa-users"></i>
                            1000
                        </div>
                        <div class="col-xs-3 text-info footer-cell">
                            Owner <!-- If User Owner This Contest Put word Owner -->
                        </div>
                        <ul class="col-xs-5 breadcrumb footer-cell">
                            <li>20</li><!-- scheduled contest -->
                            <li>30</li><!-- Running contest -->
                            <li>90</li><!-- End contest -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                      <h3 class="panel-title"><a href="#">Group title</a></h3>
                      <i class="fas fa-heart" data-favorite="IconFav"></i>
                    </div>
                    <div class="panel-body">
                      Test Group To Show All Items In ICPC Menofia Community Training Juniors phase Two and Test Test
                    </div>
                    <div class="panel-footer text-center">
                        <div class="col-xs-4 footer-cell"><!-- Number Of User In Group --> 
                            <i class="fas fa-users"></i>
                            1000
                        </div>
                        <div class="col-xs-3 text-info footer-cell">
                            Owner <!-- If User Owner This Contest Put word Owner -->
                        </div>
                        <ul class="col-xs-5 breadcrumb footer-cell">
                            <li>20</li><!-- scheduled contest -->
                            <li>30</li><!-- Running contest -->
                            <li>90</li><!-- End contest -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>