@model IEnumerable<GraduationProject.ViewModels.ViewGroupModel>
@{
    ViewData["Title"] = "Group Page";
}

<section class="group-page">
    <div class="container">
        <ul class="nav nav-tabs text-capitalize">
            @{
                string currentAction = ViewContext.RouteData.Values.ContainsKey("Action") ? ViewContext.RouteData.Values["Action"].ToString() : "NULL";

            }
            @if (currentAction == "Index")
            {
                <li role="presentation" class="active"><a asp-action="Index">All Groups</a></li>
            }
            else
            {
                <li role="presentation"><a asp-action="Index">All Groups</a></li>
            }
            @if (currentAction == "MyGroups")
            {
                <li role="presentation" class="active"><a asp-action="MyGroups">My Groups</a></li>
            }
            else
            {
                <li role="presentation"><a asp-action="MyGroups">My Groups</a></li>
            }
            @if (currentAction == "Invitations")
            {
                <li role="presentation" class="active"><a asp-action="Invitations">Invitations</a></li>
            }
            else
            {
                <li role="presentation"><a asp-action="Invitations">Invitations</a></li>
            }


            <li role="presentation" class="creat-group">
                <a asp-action="Create"><i class="fas fa-plus"></i> New Group</a>
            </li>
        </ul>
        <div class="row groups">
            @foreach (var item in Model)
            {
                if (currentAction == "Invitations")
                {
                    <partial name="groupBoxInvitation" for="@item" />
                }
                else
                {
                    <partial name="groupBox" for="@item" />
                }
            }
        </div>
        <div aria-label="Page navigation" class="text-center">
            <ul class="pagination pagination-lg">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}