@{
    ViewData["Title"] = "Contest Page";
}
<center>
    @{
        for (int i = 0; i < 5; i++)
        {
            <div class="alert-success">
                    <h1> {أَمَّنْ يُجِيبُ الْمُضْطَرَّ إِذَا دَعَاهُ وَيَكْشِفُ السُّوءَ وَيَجْعَلُكُمْ خُلَفَاءَ الأَرْضِ أَإِلَهٌ مَعَ اللَّهِ قَلِيلًا مَا تَذَكَّرُونَ} [النمل: 62]</h1>
            </div>
        }
    }
</center>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}