@model GraduationProject.ViewModels.ContestViewsModel.ViewContestModel

@{
    ViewData["Title"] = "ProblemPage";
}
<section class="show-problem">
    <div class="all-data-problem">
        <div class="row">
            <div class="col-md-3 problem-info">
                <section class="panel panel-info text-center">
                    <div class="panel-heading" data-refere="ProblemAlias">
                        Alias
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"> 
                            <span>Time Limit:</span> <span data-refere="TimeLimit"></span>
                        </li>
                        <li class="list-group-item">
                            <span>Memory Limit:</span> <span data-refere="MemoryLimit"></span>
                        </li>
                        <li class="list-group-item"> 
                            <span>Input File:</span> <span data-refere="InputFile"></span>
                        </li>
                        <li class="list-group-item">
                            <span>Output File:</span> <span data-refere="OutputFile"></span>
                        </li>
                    </ul>
                    <div class="panel-body">
                        <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#SubmitProblmeMain"><i class="fas fa-paper-plane"></i> Submit</button>
                    </div>
                </section>
                        
            </div>
            <div class="col-md-9">
                <div id="CodeforcesProblemContent">
                    <div class="ttypography">
                        <!-- Problem HTML Here -->
                        <!-- Do not forget add stylesheet codeforces and mathjsx -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="modal fade" id="SubmitProblmeMain" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <form class="modal-content">
            <div class="modal-header">
                <div class="model-header-flex">
                    <h3 class="modal-title">
                        Submit Solution
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-sm-2">Problem</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" data-target="ProblemName"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2">Language</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="">
                            <option value="c++11">C++ 11</option>
                            <option value="c++17">C++ 17</option>
                            <option value="java">Java</option>
                            <option value="python">Python</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2">Solution</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="15" placeholder="At Least 50 Characters"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
            </form>
        </div>
    </section>
</section>

