@{
    ViewData["Title"] = "Blog Page";
}
<center>
   
            <div class="alert-success">
                    <h1>
                        رَضيـتُ بِاللهِ رَبَّـاً وَبِالإسْلامِ ديـناً وَبِمُحَـمَّدٍ صلى الله عليه وسلم نَبِيّـاً.
                    </h1>
            </div>
   
</center>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}