
/* Start Main Rules */

body{
    background-color:#FFF !important;
}
i[data-favorite='IconFav']{
    cursor: pointer !important;
}
i[data-favorite='IconFav'].active{
    color: red !important;
}
a[data-favorite='IconFav'],
a[data-favorite='IconFav']:hover,
a[data-favorite='IconFav']:active{
    cursor: pointer !important;
    color: inherit;
    background-color: inherit;
}
a[data-favorite='IconFav'].active{
    color: red !important;
}
h1.static-main-title{
    color: #2c3e50;
    font-size: 4.3rem;
    font-weight: 500;
    text-align: center;
    padding: 30px 0px 20px 0px;
}
/*
mark{
    color:#8C8C8C;
    color:#1abc9c
}

*/
/* End Main Rules */

/* Start Tags Edit */
a{
    text-decoration: none !important;
}
textarea{
    resize: none;
}

/* End Tags Edit */

/* Start Edit BootStarp */
.modal .modal-header .model-header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal .modal-header .close{
    margin: 0;
}

/* End Edit BootStarp */

/* Start Header */

header .navbar{
    margin-bottom: 0;
}

header .nav-upper{
    border-radius: 0;
}
header .nav-upper .navbar-form button,
header .nav-upper .navbar-form a{
    min-width: 100px;
}
header .nav-upper .navbar-form i{
    margin-right: 0.5rem;
    font-size: 17px;
    vertical-align: middle;
}

header .nav-main .navbar-nav > li > a{
    color: #BBB;
    outline: none;
}
header .nav-main .navbar-brand{
    color: #BBB;
    font-size: 3rem;
    display: flex;
    align-items: center;
}
header .nav-main .navbar-brand img{
    width: 40px;
    height: 40px;
}
header .nav-main .navbar-brand span{
    color: #e60024;
    margin-left: 5px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
    header .nav-main .navbar-collapse{
        padding-right: 7px;
        padding-left: 7px;
    }
    header .nav-main .navbar-nav > li > a{
        padding: 15px 13px;
    }
}

/* End Header  */
/* Start User Sign In - Sign Up */

.user-signin,
.user-signup{
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.user-signin h1,
.user-signup h1{
    font-size: 4.1rem;
    margin-bottom: 6rem;
}
.user-signin form,
.user-signup form{
    margin-bottom: 5rem;
}
.user-signin .form-group .form-control:focus {
  border-color: #67b168;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    
}


/* End User Sign In - Sign Up */
/* Start Contest Page */


/* End Contest Page */
/* Start Group Page */
.group-page{
    margin-bottom: 20px;
}
.group-page .nav{
    font-size: 1.55rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .group-page .nav .creat-group{
        float: right !important;
    }
    .group-page .nav .creat-group a{
        color: white;
        background-color: #34495e;
        margin-right: 0;
    }
    .group-page .nav .creat-group a:hover,
    .group-page .nav .creat-group a:focus{
        background-color: #415b76;
        border-color: #415b76;
    }    
}

.group-page .groups .panel .panel-heading{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-page .groups .panel .panel-heading i{
    color: #868686;
}
.group-page .groups .panel .panel-body{
    height: 90px;
    max-height: 90px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow-y: hidden;
}
.group-page .groups .panel .panel-footer{
    overflow-y: hidden;
    border: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.group-page .groups .panel .panel-footer .footer-cell{
    margin: 0;
    padding: 0;
}
.group-page .groups .panel .panel-footer .breadcrumb{
    background-color: transparent;
}
.group-page .groups .panel .breadcrumb > li + li::before{
    padding: 0 1px;
}
.group-page .groups .panel .breadcrumb > li{
    color: red;
}
.group-page .groups .panel .breadcrumb > li:first-child{
    color: blue;
}
.group-page .groups .panel .breadcrumb > li:last-child{
    color: green;
}
.group-page ul.pagination > li > a{
    background-color: #EEE;
    margin-top: 10px;
}
/* End Group Page */
/* Start Group Details Page */
.details-group-page{
    margin-top: 30px;
    margin-bottom: 20px;
}
.details-group-page .statistics .breadcrumb{
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}
.details-group-page .statistics .breadcrumb > li{
    color: red;
}
.details-group-page .statistics .breadcrumb > li:first-child{
    color: blue;
}
.details-group-page .statistics .breadcrumb > li:last-child{
    color: green;
}

.details-group-page .header-group{
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details-group-page .header-group > div{
    padding: 10px 12px;
}
.details-group-page .header-group .group-name{
    font-size: 1.9rem;
}
.details-group-page .header-group .dropdown .dropdown-menu{
    right: 0;
    left: auto;
}
.details-group-page .group-contest .panel .panel-heading,
.details-group-page .group-member .panel .panel-heading,
.details-group-page .group-blog .panel .panel-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.9rem !important;
}
.details-group-page .group-contest .panel .panel-heading i,
.details-group-page .group-member .panel .panel-heading i,
.details-group-page .group-blog .panel .panel-heading i{
    cursor: pointer;
}
.details-group-page .group-contest .panel table,
.details-group-page .group-member .panel table,
.details-group-page .group-blog .panel table{
    font-size: 1.6rem;
}
.details-group-page .group-contest .panel table td,
.details-group-page .group-member .panel table td,
.details-group-page .group-blog .panel table td{
    vertical-align:middle !important;
}
.details-group-page .group-contest .panel table td.starte-time{
    font-size: 1.5rem !important;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.details-group-page .group-contest .panel table td.starte-time > div{
    text-decoration: underline;
    line-height: 1.7rem;
}
.details-group-page .group-contest .panel table tr:first-child td,
.details-group-page .group-member .panel table tr:first-child td,
.details-group-page .group-blog .panel table tr:first-child td{
    background-color: #CCC;
    color: #333;
    font-size: 1.7rem;
}
/* Modals */
.details-group-page .invite-modal .modal-body textarea{
    width: 100%;
    height: 150px;
}
.details-group-page .edit-group-modal .modal-body .table td{
    vertical-align:middle !important;
    background-color: #EEE;
}
.details-group-page .edit-group-modal .modal-body .table tr:first-child td{
    color:#FFF;
    background-color:#333;
}
.details-group-page .edit-group-modal .modal-body .table .btn{
    padding:3px 10px;
}

/* End Group Details Page */
/* Start Create & Edit Group Page */
.create-group-page,
.edit-group-page{
    margin-top: 20px;
    margin-bottom: 30px;  
}
.create-group-page input[type='radio'],
.edit-group-page input[type='radio']{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.create-group-page .form-horizontal .form-group:last-child,
.edit-group-page .form-horizontal .form-group:last-child{
    margin-top: 30px;
}

/* End Create & Edit Group Page */
/* Start Problem Page */
.problem-page{
    margin: 20px 0;
}
.problem-page .page-header{
    padding: 8px 0px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.problem-page .page-header h2{
    margin: 0;
}
.problem-page .page-header span{
    font-size: 1.7rem;
    font-weight: 300;
}
.problem-page .problem-table .panel .panel-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem !important;
}
.problem-page .problem-table .panel .panel-heading .panel-title{
    font-size: inherit;
}
.problem-page .problem-table .panel .panel-heading i[data-toggle='OpenFilterPanel']{
    cursor: pointer;
}
.problem-page .problem-table .panel .panel-body{
    border-bottom: 1px solid #999;
    display: none;
}
.problem-page .problem-table .table{
    font-size: 1.5rem;
}
/* End Problem Page */
/* Start Footer */

footer .copyright{
    text-transform: capitalize;
    background: #333;
    color: #AAA;
    padding: 1.5rem 0;
    font-size: 1.5rem;
}

footer .copyright span:first-child{
    color: #FFF;
    font-size: 1.6rem;
}
footer .copyright span:last-child{
    color: #e60024;
    font-size: 1.6rem;
}

/* End Footer  */
