@model ACJudge.Data.Models.UserGroup
<form asp-controller="Group" asp-action="EditMember">
    <div class="modal fade bd-example-modal-sm edit-group-modal" id="EditMemberGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="model-header-flex">
                        <h3 class="modal-title">Edit Member</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>User Name</td>
                                    <td>Control</td>
                                </tr>
                                <tr>
                                    <td> @Model.User.FirstName</td>
                                    <td> @Model.User.UserName</td>
                                    <td>
                                        <a href="#" class="btn btn-success"><i class="fas fa-edit"></i> Set Manager</a> <!-- if user is member -->
                                        <!--<a href="#" class="btn btn-success"><i class="fas fa-edit"></i> Set Member</a> <!-- if user is manager -->
                                        <a href="#" class="btn btn-danger"><i class="fas fa-times-circle"></i> Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- To Edit Member -->
</form>