@model string 
@{ 
    string Text = Model;
    if (Text == null || Text == "")
        Text = "You Don't Have Access To This Page"; 
}
<div class="container">
    <h3>
        @Text  
    </h3>
</div>

