@{
    ViewData["Title"] = "About Page";
}
<center>
    @{
        for (int i = 0; i < 5; i++)
        {
            <div class="alert-success">
                    <h1> {وَإِذَا مَسَّكُمُ الضُّرُّ فِي الْبَحْرِ ضَلَّ مَنْ تَدْعُونَ إِلاَّ إِيَّاهُ} [الإسراء: 67]</h1>
            </div>
        }
    }
</center>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}