@{
    ViewData["Title"] = "About Page";
}
<div class="alert-success" style="text-align: center;">
    <h1>This is ACJudge </h1>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}