@{
    ViewData["Title"] = "Ranking";
}
<!DOCTYPE html>

<head>
    <title>Ranking </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content=" is a programming contest site for anyone from beginners to experts. We hold weekly programming contests online.">
    <meta name="author" content=" Inc.">

    <meta property="og:site_name" content="Judge">

    <meta property="og:title" content="Ranking - " />
    <meta property="og:description" content="is a programming contest site for anyone from beginners to experts. We hold weekly programming contests online." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="#" />
    <meta property="og:image" content="#" />


    <meta property="twitter:title" content="Ranking - " />

    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="base.css">
    <link rel="stylesheet" type="text/css" href="fontawesome.min.css">
    <script type="text/javascript" src="rank.js" async></script>


</head>
    <div id="main-div" class="float-container">
        <div id="main-container" class="container">



            <br>
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <p>
                        <span class="h3">Ranking</span>

                    </p>
                    <hr class="mt-0 mb-1">

                    <ul class="nav nav-pills small mb-1">
                        <li class="active"><a href="/ranking/all">All Users</a></li>
                    </ul>


                    <div class="text-center">
                        <ul class="pagination pagination-sm mt-0 mb-1">

                            <li class="active"><a href='/ranking?page=1'>1</a></li>

                            <li><a href='#'>2</a></li>

                            <li><a href='#'>4</a></li>

                            <li><a href='#'>8</a></li>

                            <li><a href='#'>16</a></li>

                            <li><a href='/ranking?page=32'>32</a></li>

                            <li><a href='/ranking?page=64'>64</a></li>

                            <li><a href='/ranking?page=128'>128</a></li>

                            <li><a href='/ranking?page=256'>256</a></li>

                            <li><a href='/ranking?page=512'>512</a></li>

                            <li><a href='/ranking?page=828'>828</a></li>

                        </ul>
                    </div>
                    <div class="panel panel-default panel-filter">
                        <div class="panel-heading">
                            <h3 class="panel-title filter-title" onclick="showfilter()" data-target="#form-filter"><i class="fa fa-filter" aria-hidden="true"></i>Filter <span class="fas fa-filter"></span></h3>
                            <form class="form-inline form-filter" action="#" id="form-filter" style="display:none;">
                                <hr>

                                <div class="form-group form-group-sm">
                                    <label for="f.Country">Country/Region: </label>
                                    <select id="f.Country" class="form-control" style="width:150px;" data-placeholder="-" data-allow-clear="true" name="f.Country">
                                        <option></option>



                                    </select>
                                </div>


                                <div class="form-group form-group-sm">
                                    <label for="f.UserScreenName">User: </label>
                                    <input type="text" id="f.UserScreenName" class="form-control" name="f.UserScreenName" value=""
                                           data-html="true" data-toggle="tooltip" data-trigger="focus" title="You can use wildcards.&lt;br&gt;?: any character&lt;br&gt;*: any string">
                                </div>


                                <!-- <div class="form-group form-group-sm">
                                    <label for="f.Affiliation">Affiliation: </label>
                                    <input type="text" id="f.Affiliation" class="form-control" style="min-width:200px;" name="f.Affiliation" value=""
                                        data-html="true" data-toggle="tooltip" data-trigger="focus" title="You can use wildcards.&lt;br&gt;?: any character&lt;br&gt;*: any string">
                                </div> -->

                                <br>
                                <div class="form-group form-group-sm">
                                    <table>
                                        <tr><td><label>Birth Year: </label></td><td><input type='number' class='form-control' name='f.BirthYearLowerBound' id="f.birthday" value='0'></td><td>-</td><td><input type='number' width='10px' class='form-control' name='f.BirthYearUpperBound' id="f.birthday2" value='9999'></td></tr>
                                        <tr><td><label>Rating: </label></td><td><input type='number' class='form-control' name='f.RatingLowerBound' id="f.rate" value='0'></td><td>-</td><td><input type='number' width='10px' class='form-control' name='f.RatingUpperBound' id="f.rate2" value='9999'></td></tr>
                                        <tr><td><label>Rated Matches: </label></td><td><input type='number' class='form-control' name='f.CompetitionsLowerBound' id="f.ratedmatch" value='0'></td><td>-</td><td><input type='number' width='10px' class='form-control' name='f.CompetitionsUpperBound' id="f.ratedmatch2" value='9999'></td></tr>
                                    </table>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-sm">Search</button>
                                        <a class=" reset btn btn-default btn-sm" onclick="ClearFields()">Reset</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped th-center">
                                <thead>
                                    <tr class="no-break">
                                        <th width="4%"><a href="#">Rank</a></th>
                                        <th><a href="#">User</a></th>
                                        <th width="5%"><a href="#">Birth</a></th>
                                        <th width="5%"><a href="#">Country</a></th>
                                        <th width="5%"><a href="#">Rates</a></th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="no-break">1</td>
                                        <td><a href="#"></a>  <a href="#" class="username"><span class="user-red">El Habhsy</span></a>
                                        <td>1994</td>
                                        <td><b>4023</b></td>
                                        <td><b>Egypt</b></td>

                                    </tr>
                                    <tr>
                                        <td class="no-break">1</td>
                                        <td><a href="#"></a>  <a href="#" class="username"><span class="user-red">El Habhsy</span></a>
                                        <td>1994</td>
                                        <td><b>4023</b></td>
                                        <td><b>Egypt</b></td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>





            <hr>



            <div class="a2a_kit a2a_kit_size_20 a2a_default_style pull-right" data-a2a-url="#" data-a2a-title="Ranking - AtCoder">
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>

                <a class="a2a_button_telegram"></a>

                <a class="a2a_dd" href="#"></a>
            </div>
        </div>
        <hr>
    </div>

    <div class="container" style="margin-bottom: 80px;">
        <footer class="footer">


            <div class="text-center">
                <small id="copyright">Copyright Since 2021 &copy;<a href="#"> Inc.</a> All rights reserved.</small>
            </div>
        </footer>
    </div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
